@(drinkForm: Form[Drink], users: List[String])

@import helper._

@main("New Drink") {
  @form(routes.DrinkController.create()) {
    <div class="contentBody">
      <div class="contentTitle">飲み会の設定</div>
      <div class="content">
        @inputText(drinkForm("title"), '_class -> "clm", '_label -> "飲み会") 
        
        <div id="date">
          <dl>
            <dt>候補日 <a href="" id="addDate">追加</a></dt>
            <dd id="dateList">
              @repeat(field = drinkForm("dates"), min = 1) { dateForm =>
                @inputText(field = dateForm("date"), '_label -> "")
              }
            </dd>
          </dl>
        </div>
         
        <div class="delimiter">
          <dl>
            <dt>memger</dt>
            <dd>
              <select multiple name="tmpUser">
                @for(user <- users) {
                  <option value='@user'>@user</option>
                }
              </select>
            </dd>
          </dl>
        </div>
        <input type="submit" value="Create">
	    </div>
    </div>
  }
}

<a href="@routes.DrinkController.index()">drinks</a>

<script>
$(function() {
  var firstDateField = $("div#date input");
  setDatePicker(firstDateField);
  addRemoveDateButton(firstDateField.parent("dd"));
  
  $("#addDate").on("click", function() {
    return addDateField();
  });

  $(document).on("click", ".removeDate", function() {
    return removeDateField($(this));
  });
  
  $("#addShop").click(function() {
    return addShopField();
  });
});

var dateNameCount = function() {
  return $("div#date input").length
}

var dateNum = dateNameCount();
var dateCount = function() {
  dateNum++;
  return dateNum;
}

var setDatePicker = function(target) {
  target.datepicker({
    showOn: "both",
    dateFormat: 'yy/mm/dd'
  });
  return false;
}

var addDateField = function() {
  var $tmpDate = $("div#tmpDate dl").clone();
  var id = $tmpDate.find("input").attr("id").replace("number", dateCount());
  var name = $tmpDate.find("input").attr("name").replace("number", dateNameCount());
  $tmpDate.find("input").attr("id", id);
  $tmpDate.find("input").attr("name", name);
  $("dd#dateList").append($tmpDate);

  var target = $("#" + id);
  setDatePicker(target);
  addRemoveDateButton(target.parent("dd"));
  return false;
}

var addRemoveDateButton = function(target) {
  var jqlink = $("<a>").addClass("removeDate").attr("href", "#").text("削除");
  target.append(jqlink);
  return false;
}

var removeDateField = function(target) {
  if (dateNameCount() > 1) {
    target.parent("dd").parent("dl").remove();
    resetDateNumber();
  } else {
    alert("候補日は1日以上設定してください。");
  }
  return false;
}

var resetDateNumber = function() {
  var i = 0;
  $("div#date input").each(function() {
    $(this).attr("name", "dates[" + i + "].date");
    i++;
  });
}

</script>

<div class="hide">
  <div id="tmpDate">
    @inputText(drinkForm("dates[number].date"), '_label -> "")
  </div>
</div>