@(drinks: List[Drink])

@import helper._

@main("Drink list") {
    
    <h1>Drink Schedule List</h1>
    <div><a href="/drinks/add/">New Drink Schedule</a></div>
    
    <table border="1">
    	<tr>
    		<td>title</td>
    		<td>organizer</td>
    		<td>update time</td>
    		<td>process</td>
    	</tr>
        @for(drink <- drinks) {
            <tr>
                <td><a href="/drinks/@drink.seq/">@drink.title</a></td>
                <td>@drink.organizer</td>
                <td>@drink.update_at.format("yyyy-MM-dd hh:mm")</td>
                <td>
                	@if(session.get("userId").equals(drink.organizer)) {
		                @form(routes.DrinkController.delete(drink.seq)) {
		                    <input type="submit" value="Delete">
		                }
		            }
                </td>
            </tr>
        }
    </table>
}