@(drinkForm: Form[Drink], users: List[String])

@import helper._

  @main("New Drink") {
 　   @form(routes.DrinkController.newDrink()) {
    <div class="contentBody">
      <div class="contentTitle">飲み会の設定</div>
      <div class="content">
        @inputText(drinkForm("title"), '_class -> "clm", '_label -> "飲み会") 
        @textarea(drinkForm("description"), '_label -> "説明")
        
        <div id="date">
          @inputText(drinkForm("dates[0].date"), 
          		'_label -> <span>候補日 <a href="" id="addDate">追加</a></span>)
        </div>
        
        <div id="shop">
　　　　　　　　　<dl>
            <dt>店  <a href="" id="addShop">追加</a></dt>
            <dd id="shopList">
              <div class="shopInfo">
                @inputText(drinkForm("places[0].shopName"), '_class -> "clm", '_label -> "店名")
                @inputText(drinkForm("places[0].shopUrl"), '_class -> "clm", '_label -> "店URL")
                @inputText(drinkForm("places[0].station"), '_class -> "clm", '_label -> "最寄り駅")
              </div>
            </dd>
          </dl>
        </div>
          
        <div class="delimiter">
          <dl>
            <dt>memger</dt>
            <dd>
              <select multiple name="tmpUser">    
                @for(user <- users) {
                  <option value='@user'>@user</option>
                }
              </select>
            </dd>
          </dl>
        </div>
        <input type="submit" value="Create">
	  </div>
    </div>
  }
}
<a href="@routes.DrinkController.drinks()">drinks</a>

<script>

var dateNum = 1;
var shopNum = 1;

$(document).ready(function() {

	// 候補日 start
	$("#addDate").click(function() {
		// テンプレート
		$tmpDate = $("div#tmpDate dd").clone();
		// idとnameを変更
		var id = $tmpDate.find("input").attr("id").replace("number", dateNum);
		$tmpDate.find("input").attr("id", id);
		$tmpDate.find("input").attr("name", $tmpDate.find("input").attr("name").replace("number", dateNum));
		// 削除リンク追加
		$tmpDate.append(createRemoveDateLink());
		$("div#date dl").append($tmpDate);
		
		$("#" + id).datepicker({
		    showOn: "both",
		    dateFormat: 'yy/mm/dd'
		});
		dateNum ++;
		return false;
	});
	
	function createRemoveDateLink() {
		$removeDate = $("<a href='' id='removeDate'>削除</a>");
		$removeDate.click(function() {
			$(this).parent("dd").remove();
			return false;
		});
		return $removeDate;
	}
	
	$("#dates_0__date").datepicker({
	    showOn: "both",
	    dateFormat: 'yy/mm/dd'
	});

	$("#dates_0__date").parent("dd").append(createRemoveDateLink());

	// 候補日 end

	//　店舗 start
	$("#addShop").click(function() {
		$("div#shop").find("dd#shopList").append(createShopInput());
		return false;
	});
	
	function createShopInput() {
		$tmpShop = $(".tmpShop").clone();
		$tmpShop.attr("class", "shopInfo");
		$tmpShopName = $tmpShop.find("input#places_number__shopName");
		$tmpShopName.attr("name", $tmpShopName.attr("name").replace("number", shopNum));
		$tmpShopUrl = $tmpShop.find("input#places_number__shopUrl");
		$tmpShopUrl.attr("name", $tmpShopUrl.attr("name").replace("number", shopNum));
		$tmpStation = $tmpShop.find("input#places_number__station");
		$tmpStation.attr("name", $tmpStation.attr("name").replace("number", shopNum));
		shopNum++;
		return $tmpShop;
	}
	// 店舗　end
});


</script>

<div class="hide">
  <div id="tmpDate">
    @inputText(drinkForm("dates[number].date"))
  </div>
  
  <div class="tmpShop">
    @inputText(drinkForm("places[number].shopName"), '_class -> "clm", '_label -> "店名")
    @inputText(drinkForm("places[number].shopUrl"), '_class -> "clm", '_label -> "店URL")
    @inputText(drinkForm("places[number].station"), '_class -> "clm", '_label -> "最寄り駅")
  </div>
</div>