@(drink: Drink)

@import helper._

@main("Drink Schedule") {
    
    <h1>@drink.title</h1>
    
    <div>@drink.description</div>

	<div>information</div>
    <table border="1">
	<tr>
		<td>organizer</td>
		<td>@drink.organizer</td>
	</tr>
		<tr>
		<td>update time</td>
		<td>@drink.updateAt</td>
	</tr>
	</table>

	<div>time</div>
	<table border="1">
	@for(date <- drink.dates) {
		<tr>
			<td>@date.date.format("yyyy/MM/dd")</td>
		</tr>
	
	}
	</table>
	
	<div>place</div>
	<table border="1">
	@for(place <- drink.places) {
		<tr>
			<td><a href="@place.shopUrl">@place.shopName</a></td>
			<td>@place.station</td>
		</tr>
	}
	</table>
	
	<div>user</div>
	<table border="1">
	@for(user <- drink.users) {
		<tr>
			<td>@user.name</td>
		</tr>
	}
	</table>
	
	<a href="@routes.DrinkController.drinks()">drinks</a>
}