@(users: List[User], userForm: Form[User])

@import helper._

@main("Welcome to kumanomi") {
	<!--a href="http://www.facebook.com/dialog/oauth?client_id=456107231173835&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2F">face book</a -->

	<div>users</div>
	<table>
	@for(user <- users) {
		<tr>
	    	<td>@user.user_id</td>
	    	<td>@user.name</td>
	    	<td>
	    	@form(routes.Application.delete(user.seq)) {
	    		<input type="submit" value="Delete">
	    	}
	    	</td>
		</tr>
	}
	</table>
		
	<a href="@routes.DrinkController.index()">drinks</a>
}
